:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

body{
  background-color: #5f6470;
}

.header {
  text-align: center;
  font-size: 25px;
}

.card {
  text-align: center;
  border: grey solid 2px;
  padding: 1rem;
  width: 13rem;
  height: 20rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #b91111;
  background-color: #ffabab;
  border-radius: 20px;
  float: left;
}

button {
  height: 35px;
  width: 150px;
  background-color: #ffabab;
  border: 2px solid #b91111;
  color:#0f0f0f;
  cursor: pointer;
  border-radius: 20px;
  font-family: 'cursive', 'Brush Script MT';
  font-size: large;
}

.nav-bar{
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
}

.member-image{
  width: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  font-weight: bold
}

.event-container{
  text-align: center;
}

.member-container {
  text-align: center;
}