:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.card {
  text-align: center;
  border: grey solid 2px;
  padding: 1rem;
  width: 13rem;
  height: 14rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #1d55c6;
  border-radius: 20px;
}


.nav-bar{
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
}